<!DOCTYPE html>
<html>

<head>
  <title>Uusi urakkailmoitus</title>
</head>

<body>
  <link rel="stylesheet" href="/static/main.css">
  <!-- FLASH-VIESTIT (NÄYTETÄÄN TÄSSÄ) -->
   {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <h1>Uusi ilmoitus</h1>
  
  <form action="/create_item" method="post">
    <p>
        Otsikko: <br />
        <input type="text" name="title" />
    </p>
    <p>
        Kuvaus: <br />
        <textarea name="description" rows="10" cols="70"></textarea>
    </p>
    <p>
      Kategoria: <br />
      <select name="category">
        <option value="Rakennus">Rakennus</option>
        <option value="Remontti">Remontti</option>
        <option value="Purku">Purku</option>
        <option value="Pihatyöt">Pihatyöt</option>
        <option value="Suunnittelu">Suunnittelu</option>
      </select>
    </p>
    <p>
        Lähtöhinta: <br />
        <input type="text" name="start_price" size="6" /> €
    </p>
    <input type="submit" value="Luo ilmoitus" />
  </form>
</body>

</html>
